<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Avalara.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Avalara.Properties.Settings>
            <setting name="entAvalaraConnector_Taxes_Taxes_Service" serializeAs="String">
                <value>http://192.168.0.105:7047/DynamicsNAV/WS/SALTO%20USA/Page/Taxes</value>
            </setting>
        </Avalara.Properties.Settings>
    </applicationSettings>
</configuration>