<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NegCapturaDatosWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NegCapturaDatosWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NegCapturaDatosWPF.Properties.Settings>
            <setting name="COSMO" serializeAs="String">
                <value>http://10.35.35.73:7047/DynamicsNAV/WS/,gvelez,pass@word1,AXINI,SMURFIT KAPPA</value>
            </setting>
            <setting name="SMURFIT" serializeAs="String">
                <value>http://eu-hub-m013:7047/DynamicsNAV/WS/, -es-skg-navision, Sangu123,es.group.wan, SMURFIT KAPPA NAVARRA, S.A., </value>
            </setting>
            <setting name="Produccion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMURFITTEST" serializeAs="String">
                <value>http://eu-hub-m387:7047/DynamicsNAV/WS/,-es-skg-navision,Sangu123,es.group.wan,SMURFIT KAPPA NAVARRA, S.A.</value>
            </setting>
        </NegCapturaDatosWPF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NegCapturaDatosWPF.Properties.Settings>
            <setting name="useDefCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="urlInicioWS" serializeAs="String">
                <value>http://10.35.35.73:7047/DynamicsNAV/WS/</value>
            </setting>
            <setting name="userID" serializeAs="String">
                <value>gvelez</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>pass@word1</value>
            </setting>
            <setting name="domain" serializeAs="String">
                <value>AXINI</value>
            </setting>
            <setting name="defCompany" serializeAs="String">
                <value>SMURFIT KAPPA</value>
            </setting>
        </NegCapturaDatosWPF.Properties.Settings>
    </applicationSettings>
</configuration>