<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EntidadesSubcontratacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EntidadesSubcontratacion.Properties.Settings>
            <setting name="urlInicioWS" serializeAs="String">
                <value>http://serv-nsql2008:7047/GINDUSAL/WS</value>
            </setting>
            <setting name="useDefCredts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empLogin" serializeAs="String">
                <value>02 NAVARRA</value>
            </setting>
            <setting name="urlInicioDefaultWS" serializeAs="String">
                <value>http://serv-nsql2008:7047/GINDUSAL/WS/02 NAVARRA</value>
            </setting>
        </EntidadesSubcontratacion.Properties.Settings>
    </applicationSettings>
</configuration>