.label
{
	font-family:Segoe UI, arial, sans-serif;
	font-size:12px;	
	font-weight:bold;
}
.dato
{
	font-family:Segoe UI, arial, sans-serif;
	font-size:12px;	
	color: Blue;
}
.panel_login
{
	border-color:#CCCC99;
	border-style:solid;
	border-width:1px;
	background-color:#F7F7DE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	width:100mm;
}
.title_panel_login
{
	background-color:#6B696B;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	height:5mm;
}
.footer_panel_Login
{
	text-align:right;	
}
